@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
/* *,
*::before,
*::after {
    box-sizing: border-box;
    outline: 2px solid lime;
} */
*, div, p, label, form, button, img, section{
    padding: 0px;
    margin: 0px;
    font: 400 clamp(14px, 1.3vw + 2px, 85px) "Poppins";
    box-sizing: border-box; 
}
.page{
    width: 100vw;
}
#page1{
    height: 100vh;
}
.navbar-brand, h2{
    font-size: clamp(18px, 2.3vw + 2px, 95px);
    font-weight: 700;
    outline-style: none;
}
.btn-anchor{
    outline-style: none;
}
.navbar-collapse{
    display: flex;
    justify-content: space-between;
}
.btn{
    background: #ffffff;
    border-style: none;
    padding-inline: 2vw;
    padding-block: 0.7vw;
    border-radius: 25vw; 
    font-weight: 600;
    font-size: clamp(11px, 1vw + 2px, 80px);
    color: hsl(257, 7%, 63%);
}
.start-btn{
    background: hsl(180, 66%, 49%);
    color: #ffffff;
    margin-top: 2vw;
    font-size: clamp(14px, 1.3vw + 2px, 85px);
}
.btn-selected{
    background: hsl(180, 66%, 49%);
    color: #ffffff;
}
.hero-section{
    display: grid;
    align-items: center;
    grid-template-columns: 10vw 1fr 1fr;
    height: calc(100vh - 17vh);
}
.hero-text{
    padding-right: 6vw;
}
h1{
    font-size: clamp(22px, 5vw + 2px, 160px);
    font-weight: 700;
}
.navbar-brand{
    margin-right: 2vw;
}
.nav-link{
    font-weight: 600;
    font-size: clamp(11px, 1vw + 2px, 80px);
    color: hsl(257, 7%, 63%);
    margin-inline: 0.5vw;
}
p{
    color: hsl(257, 7%, 63%);
}
.navbar{
    height: 17vh;
    padding-top: 2vw;
    width: 80%;
    margin-left: 10vw;
    background: #ffffff !important;
}
.working-img-container{
    overflow: hidden;
}
.working-img{
    width: 50vw;
}
#loginBtn, #signupBtn{
    margin-inline: 1vw !important;
}
.search-container{
    display: flex;
    align-content: center;
    justify-content: center;
    background: hsl(255, 11%, 22%);
    background-image: url("images/bg-shorten-desktop.svg");
    background-size: 80vw 12vw;
    background-repeat: no-repeat;
    background-position: left center;
    padding-inline: 3vw;
    padding-block: 4vw;
    width: 80vw;
    margin-inline: auto;
    border-radius: calc(5px + 0.5vw);
}
input{
    flex-grow: 1;
    margin-right: 2.5vw;
    border-radius: calc(2px + 0.5vw);
    padding-left: 2vw;
    padding-block: 0.7vw;
    outline-style: none;
}
.shortern-btn{
    border-radius: calc(2px + 0.5vw);
    background: hsl(180, 66%, 49%);
    color: #ffffff;
    width: fit-content;
}
.btn-anchor{
    text-decoration: none;
    color: #ffffff;
}
.btn-anchor:hover{
    color: #000000;
}
.empty{
    height: 3vw;
}
#page2{
    background: linear-gradient(to bottom, 
        hsl(0, 0%, 100%) 0%,
        hsl(0, 0%, 100%) clamp(14px + 7vw + 0.7vw, 8.3vw + 2px + 0.7vw, 75px + 5vw + 0.7vw),  /* White until 200px + 1vw */
        hsla(0, 0%, 75%, 0.5) clamp(14px + 7vw + 0.7vw, 8.3vw + 2px + 0.7vw, 75px + 5vw + 0.7vw),  /* Black starts from 200px + 1vw */
        hsla(0, 0%, 75%, 0.5) 100% 
    );
}
.icon-container{
    background: hsl(257, 27%, 26%);
    width: fit-content;
    border-radius: 50%;
}
.icon{
    margin: 2vw;
    width: 3vw;
}
.card{
    position: relative;
    background: transparent;
    border-width: 0px !important;
    background: linear-gradient(to bottom, 
    transparent 0%,
    transparent 3.5vw,
    hsl(0, 0%, 100%) 3.5vw,
    hsl(0, 0%, 100%) 100%
    );
    padding: 2vw;
    padding-top: 0px;
    z-index: 2;
}
.stat-heading{
    margin-top: 8vw;
}
.para{
    width: 42vw;
    margin-left: 29vw;
    padding-bottom: 4vw;
}
h2, .para{
    text-align: center;
}
.cards-container{
    display: flex;
    gap: 3vw;
    width: 80vw;
    margin-inline: 10vw;
    padding-bottom: 15vw;
}
h3{
    padding-top: 3vw;
    font-size: clamp(16px, 1.5vw + 2px, 89px);
    font-weight: 700;
}
.card-para{
    padding-top: 0.75vw;
    font-size: clamp(12px, 1vw + 2px, 75px);
    position: relative;
    z-index: 3;
}
.card2{
    transform: translateY(4vw);
}
.card3{
    transform: translateY(8vw);
}
.boost-conatiner{
    background: hsl(257, 27%, 26%) url('images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    display: flex;
    flex-direction: column;
    padding-block: 4vw;
}
.boost{
    color: #ffffff;
}
.boost-conatiner .start-btn{
    align-self: center;
    margin-top: 1vw;
}
.white{
    color: #ffffff;
}
.card::after{
    content: "";
    position: absolute;
    height: calc(5px + 0.35vw);
    width: 3vw;
    background: hsl(180, 66%, 49%);
    bottom: 27%;
    right: 0;
    transform: translateX(3vw);
    z-index: 1;
}
.card3::after{
    content: none;
}
.cards-container > * {
    flex: 1;
}
.footer{
    background: hsl(260, 8%, 14%);
    padding-block: 4vw;
    display: grid;
    grid-template-columns: 10vw 24.7vw 1fr 10vw;
}
.footer-links-container{
    display: flex;
    gap: 5vw;
}
.list-heading{
    font-size: clamp(11px, 1vw + 2px, 80px);
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 1.75vw;
}
.list{
    font-size: clamp(10px, 0.9vw + 2px, 75px);
    color: hsl(0, 0%, 75%);
    padding-bottom: 0.85vw;
}
.footer-links{
    list-style: none;
    padding-left: 0;
}
.footer-logo{
    width: 1.75vw;
    min-width: 24px;
    margin-right: 0.75vw;
    margin-bottom: 2vw;
    color: #ffffff !important;
}
@media (max-width:992px){
    .navbar-collapse {
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        max-height: 0;
        flex-direction: column;
        text-align: center;
        background: hsl(257, 27%, 26%);
        border-radius: calc(5px + 1vw);
    }
    .navbar-nav>*{
        margin-block: calc(1vw + 2.5px);
    }
    .nav-link{
        padding: 0;
    }
    .navbar-nav:nth-child(1){
        padding-top: calc(2vw + 5px);
    }
    .navbar-nav:last-child{
        padding-bottom: calc(2vw + 5px);
    }
    .navbar-collapse.show {
        max-height: 500px;
    }
}
@media (max-width:794px) {
.logos-container{
    display: flex;
    flex-direction: column;
}
}
@media (orientation: portrait) {
    .hero-section{
        height: auto;
        padding-block: 5vw;
    }
    #page1{
        height: auto;
    }
    .navbar{
        padding-top: 6vw;
        height: auto;
    }
    .para{
        width: 100%;
        margin-left: 0px;
        padding-inline: 10vw;
    }
}
@media (max-width:483px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .logos-container{
        display: inline;
    }
    .footer-links{
        margin-bottom: 0px;
    }
    .footer-brand{
        padding-bottom: 15px;
    }
    .mr0{
        margin-right: 0;
    }
    .footer-logo{
        max-width: 10px !important;
        margin-right: 4vw;
    }
    .last-logo{
        margin-right: 0px;
    }
    .cards-container{
        display: flex;
        flex-direction: column;
    }
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        padding-inline: 10vw;
    }
    .hero-text{
        padding-right: 0px;
    }
    .working-img-container{
        align-self: flex-end;
    }
    .working-img{
        width: 100%;
    }
    .icon{
        width: 10vw;
        margin: 6vw;
    }
    .icon-container{
        align-self: center;
    }
    .card{
        background: linear-gradient(to bottom, 
        transparent 0%,
        transparent 11vw,
        hsl(0, 0%, 100%) 11vw,
        hsl(0, 0%, 100%) 100%
        );
    }
    .card::after{
        content: "";
        position: absolute;
        height: 8vw;
        width: calc(5px + 0.35vw);
        background: hsl(180, 66%, 49%);
        left: calc(50% - ((5px + 0.35vw) / 2));
        bottom: 0;
        transform: translateY(8vw);
        z-index: 1;
    }
    .card3::after{
        content: none;
    }
}